<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Masonry Responsive Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>

        <div class="content-bg"></div>
        <div class="bg-overlay"></div>

        <!-- SITE TOP -->
        <div class="site-top" style="padding-top:20px;padding-bottom:0;">
            <div class="site-banner" style="padding-top:0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h2>肥肥的猪蹄 <span class="blue">Photo</span> <span class="green">Memory</span></h2>
                        </div>
                    </div>
                </div>
            </div> <!-- .site-banner -->
        </div> <!-- .site-top -->
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
        <!-- MAIN POSTS -->
        <div class="main-posts">
            <div class="container">
                <div class="row">
                    <div class="blog-masonry masonry-true" id="pic-list">
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="copyright-text">Copyright &copy; 2084 Company Name
                      | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/jquery.min.js"></script>
        <script src="js/masonry.min.js"></script>

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            var page = 1;
            $(window).load(function() { // makes sure the whole site is loaded
                $('#loader').fadeOut(); // will first fade out the loading animation
                $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
                        $('.blog-masonry').masonry({
                            // options
                            itemSelector: '.post-masonry',
                              columnWidth: 0
                              });

                getResult(page);

                $(window).scroll(function() {
                  if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                    //alert("滚动条已经到达底部为" + $(document).scrollTop());
                    page++;
                    getResult(page);
                  }
                });

            })
            function getResult(page) {
                var tpl = [
                    '<div class="post-masonry col-md-4 col-sm-6">',
                        '<div class="post-thumb">',
                            '<img src="{$image}" alt="">',
                            '<div class="title-over">',
                                '<h4><a href="javascript:;">Pellentesque habitant morbi</a></h4>',
                            '</div>',
                            '<div class="post-hover text-center">',
                                '<div class="inside">',
                                    '<i class="fa fa-plus"></i>',
                                    '<span class="date">{$datetime}</span>',
                                    '<h4><a href="#">Pellentesque habitant morbi</a></h4>',
                                    '<p>Fusce ullamcorper diam vel arcu scelerisque</p>',
                                '</div>',
                            '</div>',
                        '</div>',
                    '</div>'
                ].join('');
                $.getJSON('/result', {page : page}, function(ret){
                    if(ret && ret.length) {
                        for(var i = 0; i<ret.length; i++) {
                            var data = ret[i];
                            $(tpl.replace('{$image}', data.thumbs[1])
                                  .replace('{$datetime}', data.showdatetime)).appendTo('#pic-list');
                        }
                    }
                });
            }
            //]]>
        </script>
  <!-- templatemo 434 masonry -->
    </body>
</html>
